
@model WebAppHotel.ViewModel.RoomViewModel
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadRoomDetails();
        $("txtRoomId").val("0");
        $("#btnSave").click(function () {
            if (!$("#formRoom").valid()) {
                return;

            }
            SaveRoomData();
        });
    });

    function DeleteRoom(roomId) {
        var result = confirm("Are you sure you want to delete?");
        if (result === false) {
            return false;
        }
        $.ajax({
            async: true,
            type: 'GET',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf - 8',
            data: {roomId:roomId},
            url: '/Room/DeleteRoomDetails',
            success: function (data) {
                if (data.success == true) {
                    alert(data.message);
                    LoadRoomDetails();//mesaj bir kere geldiğinde 
                
                }
            },
            error: function () {
                alert('There is some problem to process your request.Please try after sometime.');
            }

        });
    }
    function EditRoom(roomId) {
        $.ajax({
            async: true,
            type: 'GET',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: { roomId: roomId },
            url: '/Room/EditRoomDetails',
            success: function (data) {
                console.log(data);
                $("#txtRoomNumber").val(data.RoomNumber);
                $("#txtRoomPrice").val(data.RoomPrice);
                $("#ddBookingStatus").val(data.BookingStatusId);
                $("#ddRoomType").val(data.RoomTypeId);
                $("#txtRoomCapacity").val(data.RoomCapacity);
                $("#txtRoomDescription").val(data.RoomDescription);
                $("#imgRoom").attr('src',"../RoomImages/" + data.RoomImage);
                $("#divAddRoom").modal({ how: true });
                $("#txtRoomId").val(data.RoomId);
                $("#btnSave").text("Update");


            },
            error: function () {
                alert('There is some problem  to process your request.');
            }

        });

    }

    function LoadRoomDetails() {
        //$("#divLoadRoomDetails")
        $.ajax({
            async: true,
            data: 'GET',
            dataType: 'HTML',
            contentType: false,
            processData: false,
            url: '/Room/GetAllRooms',
            success: function (data) {
                debugger;
                $("#divLoadRoomDetails").html(data);
            },
            error: function () {
                alert('There is some problem to process your request.');
            }

        });
    }
    function SaveRoomData() {
        let formData = new FormData();
        formData.append("RoomId", $("#txtRoomId").val());
        formData.append("RoomNumber", $("#txtRoomNumber").val());
        formData.append("RoomPrice", $("#txtRoomPrice").val());
        formData.append("BookingStatusId", $("#ddBookingStatus").val());
        formData.append("RoomTypeId", $("#ddRoomType").val());
        formData.append("RoomCapacity", $("#txtRoomCapacity").val());
        formData.append("RoomDescription", $("#txtRoomDescription").val());
        formData.append("Image", $("#UploadImage").get(0).files[0]);//image olucak

        $.ajax({
            //form verileri
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                if (data.success === true) {
                    alert(data.message);
                    ResetRoomInformation();
                    LoadRoomDetails();
            }

            },
            error: function () {
                alert('Ther is some problem to process your request.Please try after sometimes.');
            }

        });
    }
//bir kez kaydedilecek ve sıfırlanıcak.
    function ResetRoomInformation() {
        $("#txtRoomNumber").val('');
        $("#txtRoomPrice").val('');
        $("#ddBookingStatus").val('');
        $("#ddRoomType").val('');
        $("#txtRoomCapacity").val('');
        $("#txtRoomDescription").val('');
        $("#UploadImage").val('');
        $("#txtRoomNumber").focus();
        $("#imgRoom").removeAttr('src');
        $("#txtRoomId").val(0);
        $("#btnSave").val("Save");



    }
    function DisplayImage(result) {
        if (result.files && result.files[0]) {
            var fileReader = new FileReader;
            fileReader.onload = function (e) {
                $("#imgRoom").attr('src', e.target.result);
            }
            fileReader.readAsDataURL(result.files[0])
        }

    }
</script>
<div style="margin-top: 50px">
   
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#divAddRoom" data-backdrop="static" data-keyboard="false">Add Room</button>


</div>
<div id="divAddRoom" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Room</h4>
            </div>
            <div class="modal-body">

                <form id="formRoom">
                    <div class="container">
                        @Html.HiddenFor(expression: model => model.RoomId, htmlAttributes: new { @id = "txtRoomId" })

                        <div class="form-group ">
                            @Html.LabelFor(expression: model => model.RoomNumber)
                            @Html.TextBoxFor(expression: model => model.RoomNumber, htmlAttributes: new { @class = "form-control", id = "txtRoomNumber" })
                            @Html.ValidationMessageFor(model => model.RoomNumber, validationMessage: null, htmlAttributes: new { @class = "text-danger" })

                        </div>
                        <div class="form-group">

                            @Html.LabelFor(expression: model => model.RoomPrice)
                            @Html.TextBoxFor(expression: model => model.RoomPrice, htmlAttributes: new { @class = "form-control", id = "txtRoomPrice" })
                            @Html.ValidationMessageFor(model => model.RoomPrice, validationMessage: null, htmlAttributes: new { @class = "text-danger" })

                        </div>
                        <div class="form-group">

                            @Html.LabelFor(expression: model => model.BookingStatusId)
                            @Html.DropDownListFor(expression: model => model.BookingStatusId, selectList: Model.ListOfBookingStatus, htmlAttributes: new { @class = "form-control", id = "ddBookingStatus" })
                            @Html.ValidationMessageFor(model => model.BookingStatusId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })

                        </div>
                        <div class="form-group">

                            @Html.LabelFor(expression: model => model.RoomTypeId)
                            @Html.DropDownListFor(expression: model => model.RoomTypeId, selectList: Model.ListOfRoomType, htmlAttributes: new { @class = "form-control", id = "ddRoomType" })
                            @Html.ValidationMessageFor(model => model.RoomTypeId, validationMessage: null, htmlAttributes: new { @class = "text-danger" })

                        </div>
                        <div class="form-group">

                            @Html.LabelFor(expression: model => model.RoomCapacity)
                            @Html.TextBoxFor(expression: model => model.RoomCapacity, htmlAttributes: new { @class = "form-control", id = "txtRoomCapacity" })
                            @Html.ValidationMessageFor(model => model.RoomCapacity, validationMessage: null, htmlAttributes: new { @class = "text-danger" })

                        </div>
                        <div class="form-group">

                            @Html.LabelFor(expression: model => model.RoomDescription)
                            @Html.TextBoxFor(expression: model => model.RoomDescription, htmlAttributes: new { @class = "form-control", id = "txtRoomDescription" })
                            @Html.ValidationMessageFor(model => model.RoomDescription, validationMessage: null, htmlAttributes: new { @class = "text-danger" })

                        </div>
                        <div class="form-group">

                            @Html.LabelFor(expression: model => model.RoomImage)
                            <input id="UploadImage" type="file" class="form-control" name="roomImage" title="Load Image" onchange="DisplayImage(this)" />
                            <img id="imgRoom" height="200" width="200" style="border:solid" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="btnSave" type="button" class="btn btn-success">Save</button>&nbsp;
                <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 70px"></div>
<div id="divLoadRoomDetails">

</div>